# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1

# The codeowner file is owned by platform-eng team
.github/CODEOWNERS @platform-eng

# Below IAC workflows are owned by platform-eng team
.github/workflows/iac-scan.yml @platform-eng

# Below App workflows are owned by platform-eng team
.github/workflows/AHP*.yml @platform-eng

# Below build workflows are owned by product-admin team, update the codeowner file to input correct team name
.github/workflows/build*.yml @<product_name>-admin
